    <% @attendances.each do |day| %>  
      <tbody>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td><%= day.before_started_at.strftime('%R') if day.before_started_at.present? %></td>
          <td><%= day.before_finished_at.strftime('%R') if day.before_finished_at.present? %></td>
          <td><%= day.started_at.strftime('%R') if day.started_at.present? %></td>
          <td><%= day.finished_at.strftime('%R') if day.finished_at.present? %></td>
          <td><%= day.instructor_confirmation %></td>
          <td><%= day.good_day.strftime('%F') %></td>
        </tr>
      </tbody>
    <% end %>  