  <% provide(:title, 'All Staffs') %>
  <h1>職員一覧</h1>

  
  <%= will_paginate %>
    <table class="table table-bordered table-condensed table-hover" id="table-staffs">
      <thead>
        <tr>
          <th class="center">従業員</th>
          <th class="center">電話番号</th>
          <th class="center">削除</th>
        </tr>
      </thead>
      <% @staffs.each do |staff| %>
      <tbody>
        <tr>
          <td class="center">
            <%= staff.name %>
          </td>
          <td class="center"><%= staff.cellphone %></td>
          <td class="center"><%= link_to "削除", staff, method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-primary" %></td>
        </tr>
        </tbody>
      <% end %>
    </table>
      <%= will_paginate %>
  </div>


     
    
    
    
  
    
  
  <div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        
         
  
       
        
          
          