  <% provide(:title, 'All Users') %>
  <h1>ユーザー一覧</h1>
  <p>検索</p>
 
   
  <%= form_tag import_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
  <% end %>
  
  <%= will_paginate %>
  <div class="col-md-10 col-md-offset-1">
    
      <table class="table">
      <% @staffs.each do |staff| %>
        <tr>
          <td>
          <% if current_staff.admin? && !current_staff?(staff) %>
            <%= staff.name %><br>
            <%= link_to "削除", staff, method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-primary" %>
            <br>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" data-toggle="collapse" data-target="#collapse<%= staff.id %>" class="btn btn-primary btn-lg">編集</button>
                </h4>
              </div>
              <div id="collapse<%= staff.id %>" class="panel-collapse collapse">
                <div class="panel-body"><%= render 'user', {staff: staff} %></div> 
                </div>
              </div>
            </div>
          </div>  
          <% end %>
          </td>
        </tr>
      <% end %>
      </table>
      <%= will_paginate %>
  </div>


     
    
    
    
  
    
  
  <div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        
         
  
       
        
          
          