<h1>来月のシフトスタッフチェック</h1>
<%= form_with( model: @staffs, url: check_shifts_update_staff_url(@staffs), local: true, method: :patch) do |f|%>
	<table class="table table-bordered table-condensed table-hover" id="table-clientes">
		<thead>
			<tr>
				<th class= "center">シフトチェック</th>
				<th class="center">従業員名</th>
				<th class="center">所属</th>
				<th class="center">電話番号</th>
			</tr>
		</thead>
		<% @staffs.each do |staff| %>
			<%= f.fields_for "staffs[]", staff do |s| %>
				<tbody>
					<tr>
						<td><%= s.check_box	:check_shift, {checked: false}, "true", "false" %></td>
						<td><%= staff.name %></td>
						<td><%= staff.attachment %></td>
						<td><%= staff.cellphone %></td>
					</tr>
				</tbody>
			<% end %>
		<% end %>	
	</table>
	<%= f.submit "シフトを記入する！", class: "btn btn-primary" %>
<% end %>			