<h1>拠点追加</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @office, url: offices_url(@office), local: true, method: :post) do |f| %>
    <%= render 'shared/error_messages',  object: @office %>
    
    <%= f.label :office_name, class: "label-#{yield(:class_text)}" %>
    <%= f.text_field :office_name, class: "form-control" %>
    
    <%= f.label :office_number, class: "label-#{yield(:class_text)}" %>
    <%= f.text_field :office_number, class: "form-control" %>
    
    <%= f.label :office_modality, class: "label-#{yield(:class_text)}" %>
    <%= f.select :office_modality, [["出勤", "出勤"], ["退勤", "退勤"]] , class:"form-control" %>
    
    
    <%= f.submit :追加, class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
    <% end %>
  </div>
</div>