<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header" , style="border:none">
      <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
        <span aria-hidden="true">
          <font style="vertical-align: inherit;">×
          </font>
        </span>
        </button>
      <h1 class="modal-title" , style="text-align:center">勤怠修正ログ</h1>
      <div class="modal-body">
        <%= form_with(url: attendance_log_user_path(@user), remote: true, method: :get ) do |f| %>
          <table class="apporoved-log-table-header table-bordered table-striped table-condensed">
    　　　   　<form method="post" action="example.cgi">
              <tbody>
              <%= f.submit "リセット" %>
                <tr>
                  <td>年</td>
                  <td><%= f.date_select(:select_year, discard_month:true) %></td>
                </tr>  
                <tr>
                  <td>月</td>
                  <td><%= f.date_select(:select_month, discard_year:true, discard_day:true) %></td>
                </tr>
              </tbody>
            </form>
          </table>
        <% end %>
        <table class="apporoved-log-table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>日付</th>
              <th>変更前出社時間</th>
              <th>変更前退社時間</th>
              <th>変更後出社時間</th>
              <th>変更後退社時間</th>
              <th>指示者</th>
              <th>承認日</th>
            </tr>
          </thead>
          
          <% @attendances.each do |day| %>  
            <tbody>
              <tr>
                <td><%= l(day.worked_on, format: :short) %></td>
                <td><%= day.started_at.strftime('%R') if day.started_at.present? %></td>
                <td><%= day.finished_at.strftime('%R') if day.finished_at.present? %></td>
                <td><%= day.before_started_at.strftime('%R') if day.before_started_at.present? %></td>
                <td><%= day.before_finished_at.strftime('%R') if day.before_finished_at.present? %></td>
                <td><%= day.instructor_confirmation %></td>
                <td><%= day.good_day.strftime('%F') %></td>
              </tr>
            </tbody>
          <% end %>  
        </table>  
      </div>  
    </div>
  </div>
</div>  
          
                  
   