<h1>利用者一覧</h1>


  <table class="table table-bordered table-condensed table-hover" id="table-clientes">
    <thead>
      <tr>
        <th class= "center">業務日誌</th>
        <th class="center">利用者情報編集</th>
        <th class="center">(ふりがな)
        <br>利用者名</th>
        <th class="center">電話番号</th>
        <th class="center">介護度</th>
        <th class="center">利用日</th>
        <th class="center">性別</th>
        <th class="center">生年月日</th>
        <th class="center">詳細</th>
        <th class="center">退所</th>
      </tr>
    </thead>
    
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td class= "center"><%= link_to "新規作成",new_businesslog_client_businesslogs_path(client), class: "btn btn-primary" %></td>
          <td class="center"><%= link_to "編集", edit_basic_info_client_path(client), class: "btn btn-success" %></td>
          <td class="center"><small>(<%= client.client_name_japanese %>)</small>
          <br><%= client.client_name %>様</td>
          <td class="center"><%= client.telephone_number %></td>
          <td class="center"><%= client.nursing_number %></td>
          <td class="center"><%= client.date_of_day %></td>
          <td class="center"><%= client.sex %></td>
          <td class="center"><%= client.client_birthday.strftime("%F")if client.client_birthday.present? %>
                              <% if client.client_birthday.present? %>
                              <br>【<%= age(client.client_birthday) %>歳】
                              <% end %>
                              </td>
          <td class="center"><%= link_to "詳細",client_path(client),class: "btn btn-primary" %></td>
          <td class="center"><%= link_to "退所",client_path(client), method: :delete,
                    data: { confirm: "削除してよろしいですか？" },
                    class: "btn btn-danger" %></td>
        </tr>
      <% end %>    
      <%= link_to "利用者追加", new_client_path, class: "btn btn-success",data: {"turbolinks" => false} %>
    </tbody>
  </table>  
         
      