<h1>利用者一覧</h1>

<table class="table">
  <thead>
    <tr>
      <td></td>
      <td></td>
      <td>利用者名</td>
      <td>連絡先</td>
      <td>介護度</td>
      <td>利用日</td>
      <td>生年月日</td>
    </tr>
  </thead>
  
  
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to "利用者情報編集", edit_basic_info_client_path(client) %></td>
        <td></td>
        <td><%= client.client_name %>様</td>
        <td><%= client.telephone_number %></td>
        <td><%= client.nursing_number %></td>
        <td><%= client.date_of_day %></td>
        <td><%= client.client_birthday.strftime("%F")if client.client_birthday.present? %></td>    
        <td><%= link_to "モニタリング", monitoring_basic_info_client_path(client) %></td>
      </tr>
    <% end %>
    <%= link_to "利用者追加", new_client_path, class: "btn btn-success" %>
  </tbody>
</table>  
        
      