<h1>利用者追加</h1>
<%= form_with(model: @client, url: clients_path(@client), local: true, method: :post) do |f| %>

  <%= f.label :利用者名, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :client_name, class: "form-control" %>

  <%= f.label :電話番号, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :telephone_number, class: "form-control" %>

  <%= f.label :住所, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :client_email, class: "form-control" %>

  <%= f.label :介護度, class: "label-#{yield(:class_text)}" %>
  <%= f.select :nursing_number,[["要支援1", "要支援1"], ["要支援2", "要支援2"], ["要介護1", "要介護1"], ["要介護2", "要介護2"], ["要介護3", "要介護3"], ["要介護4", "要介護4"], ["要介護5", "要介護5"]], class: "form-control" %>
  
  <br><%= f.label :利用日, class: "label-#{yield(:class_text)}" %>
    <%= f.check_box :date_of_day, {multiple: true}, "月", nil %>月
    <%= f.check_box :date_of_day, {multiple: true}, "火", nil %>火
    <%= f.check_box :date_of_day, {multiple: true}, "水", nil %>水
    <%= f.check_box :date_of_day, {multiple: true}, "木", nil %>木
    <%= f.check_box :date_of_day, {multiple: true}, "金", nil %>金
    <%= f.check_box :date_of_day, {multiple: true}, "土", nil %>土
    <%= f.check_box :date_of_day, {multiple: true}, "日", nil %>日
  
  <br><%= f.label :性別, class: "label-#{yield(:class_text)}" %>
  <br><%= f.radio_button :sex, :男, checked: "checked" %>
        <%= f.label "男性", class: "label-#{yield(:class_text)}" %>
        <%= f.radio_button :sex, :女, checked: "checked" %>
        <%= f.label "女性", class: "label-#{yield(:class_text)}" %>
  
  <br><%= f.label :生年月日, class: "label-#{yield(:class_text)}" %>
  <%= f.date_field :client_birthday, class: "form-control" %>
  
  <br><%= f.submit :利用者を追加, class: "btn btn-primary btn-block btn- active btn-#{yield(:class_text)}" %>
<% end %>