<h1><%= @client.client_name %>様の個別記録</h1>
<div>
  <table class="table table-bordered table-condensed client-table">
    <thead>
    <tr>
      <th>利用者情報報告書
      <br><%= link_to "新規作成", monitoring_basic_info_client_monitorings_path(@client), class: "btn btn-info" %></th>
      <th>フェイスシート
       <br><%= link_to "新規作成", asesment_new_client_asesments_path(@client), class: "btn btn-info" %></th>
      <th>個別記録（業務日誌）
      <br><%= link_to "新規作成",new_businesslog_client_businesslogs_path(@client), class: "btn btn-info" %></th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>
      <% @monitorings.each do |monitoring| %>
        <br><%= link_to monitoring.monitoring_worked_on_year.strftime("%Y年")+monitoring.monitoring_worked_on_month.strftime("%m月"),monitoring_completion_client_monitoring_path(@client, monitoring), class: "btn btn-primary" %>
            <%= link_to "編集", monitoring_basic_info_affter_client_monitoring_path(@client, monitoring), class: "btn btn-primary" %></br>
      <% end %>
        <%= paginate(@monitorings) %>
        </td>
        <td>
        <% @asesments.each do |asesment| %>
          <br><%= link_to asesment.asesment_create_year.strftime("%Y年")+asesment.asesment_create_day.strftime("%-m月%-d日"),
              asesment_affter_client_asesment_path(@client, asesment), class: "btn btn-primary" %></br>
        <% end %>
        <%= paginate(@asesments) %>
        </td>
        <td>
          <% @businesslogs.each do |log| %>
          <br><%= link_to log.log_year.strftime("%Y年")+log.log_month.strftime("%-m月%-d日"),businesslog_completion_client_businesslog_path(@client, log), class: "btn btn-primary" %>
          <%= link_to "編集", affter_businesslog_client_businesslog_path(@client, log), class: "btn btn-primary"%></br>
          <% end %>
          <%= paginate(@businesslogs) %>
        </td>
      </tr>
    </tbody>
  </table>
  