<h1>本日の利用者個別記録一覧</h1>


<div class="center">
	<%= form_with( model: @businesslogs, url: businesslogs_clients_create_path, local: true, method: :patch) do |f| %>
		<% @businesslogs.each do |businesslog| %>
			<%= f.fields_for "businesslogs[]", businesslog do |c| %>
				<p><span class="under">氏名&emsp;<%= Client.find(businesslog.client_id).client_name %>様</span></p>
				<table align="center" cellspacing="", cellpadding="5">
					<tr>
							<th><%= c.date_select(:log_year, discard_month:true)+'年'%>
									<%= c.date_select(:log_month, discard_year:true)+'日' %>
							</th>
					</tr>		
					<tr>
						<th class ="center" rowspan = "2"><div class ="center">[送迎]</div>
							<%= c.radio_button :log_farewell, "往復" %>
							<%= c.label "往復", class: "label-#{yield(:class_text)}" %>
							<%= c.radio_button  :log_farewell, "片道" %>
							<%= c.label "片道", class: "label-#{yield(:class_text)}" %>
							<br><%= c.radio_button :log_farewell, "ケアハウス" %>
							<%= c.label "ケアハウス", class: "label-#{yield(:class_text)}" %>
						</th>
						<th rowspan = "2" colspan= "3"class= "center">
							<div class ="center">[入浴]</div>
							一般浴 &nbsp;<%= c.radio_button :log_bath, "利用" %>
							<%= c.label "利用", class: "label-#{yield(:class_text)}" %>
							<%= c.radio_button :log_bath, "シャワー浴" %>
							<%= c.label "シャワー浴", class: "label-#{yield(:class_text)}" %>
							<%= c.radio_button  :log_bath, "プラン無し" %>
							<%= c.label "プラン無", class: "label-#{yield(:class_text)}" %>
							<%= c.radio_button  :log_bath, "中止" %>
							<%= c.label "中止", class: "label-#{yield(:class_text)}" %>
							<br>機械浴 &nbsp;<%= c.radio_button :log_bath, "機械浴 利用" %>
							<%= c.label "利用", class: "label-#{yield(:class_text)}" %>
						</th>
							<th class ="center" rowspan = "2">
							<div class ="center">［食事］</div>
							<%= c.check_box  :log_foods ,{}, "true", "false"%>
							<%= c.label "利用", class: "label-#{yield(:class_text)}" %>
							</th>
							<th class ="center" colspan= "2">［主食］
							<br><%= c.select :log_good_staple_dosage,[['1/5'],['2/5'],['3/5'],['4/5'],['ほ全'],['全'],['0'],['1くち'],['2~3くち']],{ include_blank: true} %></th>
							<th></th>
						</tr>
						<tr>
								<th class ="center" colspan= "2">［副食］
								<br><%= c.select :log_good_side_dosage,[['1/5'],['2/5'],['3/5'],['4/5'],['ほ全'],['全'],['0'],['1くち'],['2~3くち']],{ include_blank: true} %></th>
								<th></th>
						</tr>
						<tr>
								<tr>
					<th class ="center">[バイタル]</th>
					<th class ="center">[体温]
					<br><%= c.number_field :log_body_temperature, min: 33, step: '0.1' %>℃</th>
					<th class ="center">[血圧]
					<br><%= c.number_field :log_pressure_up,  min: 50, max: 300 %>/
					<%= c.number_field :log_pressure_down, min: 30, max: 300 %></th>
					<th class ="center">[脈]
					<br><%= c.number_field :log_pulse, min: 20, max: 200 %></th>
					<th class ="center"rowpan="2">［再検査］
					<br><%= c.check_box :log_check_return ,{}, "true", "false"%></th>
					<th class ="center">[血圧]<br><%= c.number_field :re_log_pressure_up, min: 50, max: 200 %>/
					<%=  c.number_field :re_log_pressure_down, min: 20, max: 200 %></th>
					<th class ="center">[体温]<br><%= c.number_field :re_log_body_temperature,  min: 33, step: '0.1'%>℃</th>
					<th class ="center">[脈]<br><%=  c.number_field :re_log_pulse, min: 30, max: 200 %></th>
				</tr>
						</tr>
						<tr>
								<th class ="center" colspan= "8">
										うがい
										<%= c.check_box  :check_log_hand_washing ,{}, "true", "false"%>
										&emsp;&emsp;&emsp;&emsp; 食後歯磨き
										<%= c.check_box :check_log_brush_teeth ,{}, "true", "false"%>
								</th>
						</tr>
						<tr>
								<th colspan = "6" rowspan= "2">
										[特記事項]
										<%= c.text_area :log_special_mention, class: "log", size: "100x4" %>
								</th>
								<th class = "center"colspan= "2">
								[記録者印]
								</th>
						</tr>
							<th class ="center" colspan= "2"><%= c.text_area :log_record_stamp, class: "log", size: "4x1" %>
							</th>	
					</table>
						<%= c.check_box :check_log ,{checked: true}, "true", "false" %>		
			<% end %>
		<% end %>
		<br><%= f.submit "終了", class: "btn btn-primary " %>
	<% end %>
</div>					