<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "00の里デイサービス(利用者情報)", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップへ", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "利用者ー覧", clients_path %></li>
          <li><%= link_to "本日の利用者チェック",businesslog_clients_client_path(current_staff), data: {"turbolinks" => false} %></li>
          <li><%= link_to "従業員一覧", staffs_path %></li>
          <li class="dropdown">
               <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
        <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>